p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: blueviolet;

}
.parrafotitulo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: rgb(201, 18, 18);   
}