p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: rgb(226, 43, 43);

}
.parrafotitulo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: #c91212;   
}
.img-p{
border-radius: 20px;
}